.center
{
    display: flex;
    justify-content: center;
    
    
}

.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
  }
  
  .responsive-image {
    width: 300px; /* Keep width fixed */
    height: auto; /* Allow height to adjust automatically */
    max-height: 400px; /* Set maximum height */
    min-height: 270px; /* Set minimum height */
    /* object-fit: cover;  */
  }
  